on early-init
    setenforce permissive
    loglevel 7

on init
    # no systemless SuperSU
    export SYSTEMLESS false

    symlink /dev/block/platform/omap/omap_hsmmc.1 /dev/block/bootdevice
    chown system /dev/block/bootdevice/by-name
    # support K3.4 eMMC links
    symlink omap/omap_hsmmc.1 /dev/block/platform/omap_hsmmc.1

on fs
    mkdir /bootdata
    mount vfat /dev/block/platform/omap/omap_hsmmc.1/by-name/bootdata /bootdata
    exec /sbin/dd if=/dev/zero of=/bootdata/BootCnt bs=1 count=4

on boot
    write /sys/class/android_usb/android0/idVendor ${usb.vendor}
    write /sys/class/android_usb/android0/idProduct ${usb.product.mtpadb}

    write /sys/block/mmcblk0/bdi/read_ahead_kb 256
    write /sys/block/mmcblk1/bdi/read_ahead_kb 256
    write /sys/block/mmcblk0/queue/scheduler bfq
    write /sys/block/mmcblk1/queue/scheduler bfq
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
